.card {
  background-color: #fff;
  width: 800px;
  min-height: 400px;

  margin: 45px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  /* Box shadow:
  X axis , y axis , blur , spread
   */
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);

  animation: up 200ms ease;
  /* animation-name: up; */
  /* animation-duration: 200ms; */
  /* animation-timing-function: ease-out; */

  /* The element don't return to inicial state after animation  */
  /* animation-fill-mode: forwards; */

  /* Animation begin after 300ms */
  /* animation-delay: 300ms;   */

  /* Pause the animation */
  /* animation-play-state: paused; */

  /* Animation runs form the end to begin */
  /* animation-direction: reverse; */

  /* Animation continue to run infinite */
  /* animation-iteration-count: infinite; */
}

@keyframes up {
  from {
    opacity: 0;
    transform: translatey(15px);
  }
  to {
    opacity: 1;
  }
}

/* DEtails */

.details {
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  padding: 16px 0;
}

.details .item:last-child {
  border: none;
}

.details h3,
.details .item div:nth-child(1) {
  font-size: 18px;
  line-height: 24px;

  color: #777777;

  letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
  color: #555555;
  font-weight: bold;
  font-size: 24px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.details .item span {
  background-color: var(--secondary-color);
  color: #777777;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;

  padding: 8px 16px;

  border-radius: 16px;

  margin-right: 4px;
  margin-top: 8px;

  display: inline-block;
}

/* Create */

input {
  width: 100%;
  outline: none;
  color: #555555;
  font-weight: bold;
  font-size: 24px;
}

input[type='radio'] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button[type='submit'],
a.button {
  background-color: var(--primary-color);
  color: white;

  border-radius: 4px;
  padding: 8px 32px;
  margin-top: 32px;

  width: 100%;

  font-size: 16px;
}

a.button {
  display: block;
  text-align: center;

  text-decoration: none;
}
